.button {
    color: #FBEDD6;
    position: relative;
    display: inline-flex;
    text-align: center;
    font-family: 'BasierSquareMono';
    font-weight: 400;
    width: 100%;
    border: 1px solid rgba($papaya-whip, .85);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 8px;
    transform-style: preserve-3d;
    margin-bottom: 24px;
    font-size: 24px;
    padding: 30px 10px;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    &__textaddress{
        margin: 24px 24px 12px;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        line-height: 0;
        width: 100%;      
       
        &__address{
            margin-top: 12px;           
            font-family: 'BasierSquareMono';
            font-weight: 500;
            font-size: 12px;
            line-height: 160%;
            color: #FBEDD6;

        }
    }
    &__text {
        margin: 24px 24px;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        line-height: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__address{
          
        }
    
        .icon {
            margin-left: 10px;

            a & {
                width: 20px;
                height: 20px;
                transform: rotate(-45deg);
            }
        }


    }

    &--clicked {
        .button__text {
            height: auto;
        }
    }

    &:hover {
        background: rgba($papaya-whip, .85);

        color: black;
    }

    &:hover::before {
        background: $khaki-web;
    }



    @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
    }
}

.button-container {
    &.ThreeD {
        .button {
            padding: 0;

            &::before {
                position: absolute;
                content: "";
                width: calc(100% + 2px);
                height: 100%;
                top: 0;
                left: -1px;
                right: 0;
                bottom: 0;
                background: transparent;
                border: 1px solid $papaya-whip;
                border-radius: 8px;
                transform: translate3d(0, 0.35em, -1em);
                transition: all 175ms cubic-bezier(0, 0, 1, 1);
                border-top: 0;
                border-left: 0;
                border-right: 0;
            }

            &:hover {
                transform: translate(0, 0.5em);
            }

            &:hover::before {
                transform: translate3d(0, 0.2em, -1em);
            }

            &:active {
                transform: translate(0em, 0.75em);
            }
        }

    }

    &.blue {
        .button {

            background-color: $black;
            border-color: $light-blue-sky;
            color: $light-blue-sky;

            &::before {
                border-color: $maya-blue;
            }

            &:hover::before {
                background: $maya-blue;
            }

            &:hover {
                background-color: $light-blue-sky;
                color: $black;

                .icon {
                    color: $black;
                }
            }

            &__text {
                margin: 16px 24px;
            }
        }
    }

    &.papaya {
        .button {
            background-color: rgba($papaya-whip, .85);
            color: $black;
        }
    }

    &.short {
        .button {
            padding: 5px;
        }
    }

    &.outline {
        .button {
            background: transparent;

            &::before {
                background: transparent;
            }

            &:hover {
                background: $papaya-whip;
            }
        }

    }
}