.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px;
}

.component {
    margin-bottom: 48px;
    padding: 24px;


    @media screen and (min-width: $tablet) {
        margin-bottom: 64px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 128px;
        padding: 50px;
    }

    &.logo {
        
        display: flex;
        justify-content: center;

        &__container {
            max-width: 700px;
        }
    }
}

.roadmap {
  
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
        // width: 75%;
    }
}