.discord-role {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #2f3136;
  color: #0D1116;
  width: fit-content;
  @include Small-Body;
  line-height: 160%;

  &--red {
    background-color: #ff0000;
  }

  &--green {
    background-color: #2ECC71;
  }

  &--orange {
    background-color: #FF7B3C;
  }

  &--purple {
    background-color: #9B55FD;
    color: #fff;
  }

  &--yellow {
    background-color: #FFF400;
  }

  &--lightsky {
    background-color: #A2ABFF;
  }

  &--pink {
    background-color: #FB90FF;
  }

  &--blue {
    background-color: #00B2FF;
  }

  &--lightgreen {
    background-color: #68FFC7;
  }

  &--ligthpink {
    background-color: #FFC6F6;
  }

  &--white {
    background-color: #FFFFFF;
  }

  &--pink1 {
    background-color: #EB0369;
    color: #fff;
  }

  &--pink2 {
    background-color: #DF2974;
    color: #fff;
  }

  &--pink3 {
    background-color: #DF4786;
    color: #fff;
  }

  &--pink4 {
    background-color: #D5759C;
    color: #fff;
  }

  &--pink5 {
    background-color: #DA95B2;
    color: #fff;
  }

  &--pink6 {
    background-color: #D8B3C9;
    color: #fff;
  }

  &--grey {
    background-color: #95A5A6;
  }

  // TODO: add colors for other roles
}

@media screen and (min-width: 834px) {
  .discord-roles {
    display: inline;
  }

}
