.FAQ {

    @media screen and (min-width: $tablet) {
        &__button {
            width: 75%;
            // margin-left: auto;
        }
    }

    @media screen and (min-width: $desktop) {
        &__button {
            width: 50%;
            margin-left: auto;
        }
    }
}