@font-face {
  font-family: "BasierSquareMono";
  src: url("/fonts/BasierSquareMono-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "BasierSquareMono";
  src: url("/fonts/BasierSquareMono-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}


@mixin Heading-1 {
  //styleName: H1;
  font-family: BasierSquareMono;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin Heading-2 {
  //styleName: H2;
  font-family: BasierSquareMono;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin Heading-3 {
  //styleName: H3;
  font-family: BasierSquareMono;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}

@mixin Button-Text {
  //styleName: Button Text;
  font-family: BasierSquareMono;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}

@mixin Body-Text {
  //styleName: Body Text;
  font-family: BasierSquareMono;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;



  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }

  @media (max-height: $mbp) {
    font-size: 15px;
  }

}

@mixin Small-Body {
  //styleName: Body Text;
  font-family: BasierSquareMono;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;

}

@mixin Small-Button-Text {
  //styleName: Small button text;
  font-family: BasierSquareMono;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

@mixin caption {
  //styleName: Caption;
  font-family: BasierSquareMono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}