@font-face {
    font-family: "TubeOfCorn";
    src: url("/fonts/TubeOfCorn.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "cc";
    src: url("/fonts/cc.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  
  @font-face {
    font-family: "vp";
    src: url("/fonts/VP-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "vp";
    src: url("/fonts/VP-Bold.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
