@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  // font-family: cc;
  font-family: Monteserrat, sans-serif;
  background: black;
  overflow-x: hidden;
  color: hsla(37, 82%, 91%, 0.9);
}
