.journey {


    &__content {
        display: flex;
        justify-content: space-between;
        // overflow-y: scroll;
        // width: 2000px;

        // height: 700px;
        width: 100%;
        flex-direction: column;

    }

    &__stage {
        width: 100%;
        border-radius: 5px;
        border: 1px solid $papaya-whip;
        flex-shrink: 0;
        padding: 24px;
        display: flex;
        margin-bottom: 24px;
        flex-direction: column;

    }

    &__image {
        margin-bottom: 24px;
        align-self: center;
    }

    &__header {
        @include Heading-3;
        color: $papaya-whip;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    &__text {
        @include Body-Text;
        color: $papaya-whip;
    }

    @media screen and (min-width: $desktop) {
        height: 700px;

        &__stage {
            width: calc(100% / 4 - 24px);

        }

        &__content {
            width: 3000px;
            position: absolute;
            flex-direction: row;
        }
    }
}