.modal {
  &-backdrop {
    background-color: $rich-black !important;

    &.show {
      opacity: 0.9 !important;
    }
  }
}

.modal-serpenta {
  max-width: 645px !important;

  @media screen and (min-width: $tablet) {
    max-width: 645px !important;
  }
}


