.navbar {
    padding: 24px;
    font-family: cc;
    position: fixed;
    top: 24px;
    width: 100%;
    left: 0px;
    z-index: 11;
    transition: background .3s ease-in, transform .3s ease-in, top .3s ease-in;

   

    &--static {
        height: 100px;
    }
   

    &__toggle {
        position: absolute;
        top: 24px;
        right: 24px;
        display: block;
        z-index: 10;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 700px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        color: white;
    }

    @media screen and (max-width: $tablet) {
        position: fixed;
        right: 0px;
        top: 0px;
        // background: white;
        z-index: 3;
        display: flex;
        justify-content: flex-end;

       

        

        &--open {
            &:after {
                opacity: 1;
            }

            .navbar__list {
                max-height: 400px;
            }
            
        }

        li {
            margin: 16px;
        }
       

        &__list {
            // align-items: flex-end;
            // padding-right: 24px;
            display: inline-block;
            flex-shrink: 1;
            // padding: 16px;
            max-height: 0px;
            overflow: hidden;
            transition: max-height .2s ease-in-out;
            position: relative;
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.3);
                opacity: 0;
                top: 0px;
                left: 0px;
                transition: opacity .2s ease-in-out;
                position: absolute;
                z-index: -1;
            }
        }
    }

    @media screen and (min-width: $tablet) {

        &--fixed {
            background: $black;
            top: 0px;
        }
    
        &--hide {
            transform: translateY(-100%);
        }
        &__toggle {
            display: none;
        }


        &__list {
            flex-direction: row;
            width: 75%;
            margin: 0 auto;
        }
      }
}