.mainContainer {
  background-color: #0e141b;
  min-height: 100vh;
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main {
  padding: 0px 20%;
}

/* HEADER SECTION */

.header {
  color: #fbedd6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 12px 4rem 12px;

  h3 {
    font-size: 24px;
  }
}

.gethelpWrap {
  display: flex;
  align-items: center;
  cursor: pointer;

  h3 {
    line-height: 1;
    margin-left: 8px;
  }
}

.connectWalletWraps {
  .connectBtnWrap {
    margin: 2em auto 0 auto;
    border-radius: 8px;
    display: grid;

    button {
      outline: none;
      border: none;
      font-size: 20px;
      font-family: 'BasierSquareMono', sans-serif;
      background-color: transparent;
      color: #fbedd6;
      border: 1px solid #fbedd6;
      padding: 10px 16px;
      border-radius: 8px;
      cursor: pointer;
      margin-bottom: 10px;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: #fbedd6;
        color: #272727;
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover {
      border: 1px solid transparent;
    }
  }

  .helpMobIcon {
    display: none;
  }
}

.connectWalletWrap {
  display: flex;
  align-items: center;

  .connectBtnWrap {
    margin-left: 12px;
    border-radius: 8px;
    border: 1px solid #fbedd6;

    button {
      outline: none;
      border: none;
      font-size: 20px;
      font-family: 'BasierSquareMono', sans-serif;
      background-color: transparent;
      color: #fbedd6;
      border: 1px solid #fbedd6;
      padding: 10px 16px;
      border-radius: 8px;
      cursor: pointer;
      margin-bottom: 10px;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: #fbedd6;
        color: #272727;
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover {
      border: 1px solid transparent;
    }
  }

  .helpMobIcon {
    display: none;
  }
}

// GET HELP PAGE
.getHelpContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: #0000009d;
  display: flex;
  align-items: center;
  justify-content: center;

  .getHelpWrap {
    background: #0e141b;
    border: 1px solid #fbedd6;
    border-radius: 8px;
    width: 100%;
    max-width: 580px;
    padding: 2rem 1.5rem;
    overflow-y: scroll;
    max-height: 514px;

    .helpwrapHead {
      color: #fbedd6;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .mintNFTWarp {
    background: #0e141b;
    border: 1px solid #fbedd6;
    border-radius: 8px;
    width: 100%;
    max-width: 645px;
    padding: 2rem 1.5rem;

    .mintedNFT {
      margin-top: 1em;
      border: 1px solid #fbedd6;
      border-radius: 8px;
      text-align: center;
    }

    .mintText {
      color: #93d3ff;
      font-weight: 600;
      font-size: 24px;
      line-height: 39px;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 1em;
    }

    .mintSocial {
      color: #fbedd6;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      line-height: 200%;

      .mintTrade {
        flex-basis: 50%;

        .mintHead {
          display: flex;

          .mintRectIcon {
            width: 10%;
          }
        }
      }

      .mintTwitter {
        flex-basis: 50%;

        .mintHead {
          display: flex;

          .mintRectIcon {
            width: 10%;
          }
        }
      }

      .mintEther {
        flex-basis: 100%;

        .mintHead {
          display: flex;

          .mintRectIcon {
            width: 5%;
          }
        }
      }

      h3 {
        text-transform: uppercase;
      }

      a {
        text-decoration: underline;
        color: #fbedd6;
      }
    }
  }

  .closeIcon {
    width: 35px;
    cursor: pointer;
  }
}

.statusWarpWhitelist {
  display: flex;
  color: #fbedd6;
  letter-spacing: 1px;
  margin-bottom: 2em;

  span {
    font-size: 20px;
    font-weight: bold;
  }

  justify-content: left;
}

.statusWarpReserve {
  display: flex;
  color: #fbedd6;
  letter-spacing: 1px;
  margin-bottom: 2em;

  span {
    font-size: 20px;
    font-weight: bold;
  }

  justify-content: center;
}

.statusWarpPublic {
  display: flex;
  color: #fbedd6;
  letter-spacing: 1px;
  margin-bottom: 2em;

  span {
    font-size: 20px;
    font-weight: bold;
  }

  justify-content: right;
}

.statusWarp {
  display: flex;
  color: #fbedd6;
  letter-spacing: 1px;
  margin-bottom: 2em;

  span {
    font-size: 20px;
    font-weight: bold;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}

.definitionList {
  dd {
    margin-bottom: 20px;
  }
}

.countdown {
  display: flex;
  justify-content: center;
  color: #fbedd6;
  letter-spacing: 1px;
  margin-bottom: 2em;
  padding: 0px 10%;

  span {
    font-size: 20px;
    font-weight: bold;
  }

  .mint {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }

  Link {
    font-size: 20px;
    font-weight: bold;
    color: #fbedd6;
  }
}

.accordionContainer {
  margin-top: 4rem;
}

// MEDIA QUERIES

@media (max-width: 780px) {
  .helpWrap {
    display: none;
  }
  .connectWalletWrap {
    .helpMobIcon {
      display: block;
    }
  }
}

@media (max-width: 580px) {
  .mainContainer {
    padding: 12px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .connectWalletWrap {
    margin-top: 2rem;
  }
  .imgSlide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .getHelpContainer {
    padding: 0px 12px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    background-color: #0e141b;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header {
    padding: 2rem 0px 4rem 0px;

    h3 {
      font-size: 16px;
    }
  }
  .connectBtnWrap {
    margin-left: 8px;

    button {
      font-size: 16px !important;
      padding: 10px !important;
    }
  }
}
.body{
  display: flex;
  flex-direction: column;
  gap:50px;
  background: #0E141B;
  border: 1px solid #FBEDD6;
  border-radius: 8px;
  max-width: 645px;
  margin: auto;
  padding:50px;
  .status{
    padding: 20px;
    background: #554367;
    border-radius: 8px; 
    font-family: 'BasierSquareMono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    letter-spacing: 3px;
  }
  .stages{
    
    .stageTxts{
      display: flex;
      justify-content: space-between;
      .passed{
        .list{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color:#FBEDD6;
        }
        .amount{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          display:  flex;
          align-items: center;
          color: #FBEDD6;
        }
        
      }
      .current{
        .list{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          color: #FBEDD6; 
          text-shadow: 0px 0px 8px #FBEDD6;
        }
        .amount{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          display:  flex;
          align-items: center;
          color: #FBEDD6;
        }        
      }
      .upcoming{
        .list{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-align: right;
          text-transform: uppercase;
          color: #8F8F8F;
        }
        .amount{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-align: right;
          color: #8F8F8F;
        }        
      }
      
    }
    .stageGraph{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .passed{
        width:30px;
        height: 30px;
        border-radius: 50%;
        background: #FBEDD6;
        border: 2px solid #FBEDD6;
        .check{
          width: 16px;
          height: 10px;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          margin: auto;
          transform: rotate(-45deg);
          margin-top: 5px;
        
        }
      }
      .current{
        width:30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #FBEDD6;
        color: #FBEDD6;/* Glow */
        font-family: 'BasierSquareMono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 8px #FBEDD6;
      }
      .upcoming{
        width:30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #8F8F8F;
        color: #8F8F8F;/* Glow */
        font-family: 'BasierSquareMono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
   
  }
  .infoBox{
    display: flex;
    flex-direction: column;
    gap:40px;
    .info{
      .title{
        font-family: 'BasierSquareMono';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FBEDD6;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
      .content{
        font-family: 'BasierSquareMono';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        display: flex;
        align-items: center;
        color: #FBEDD6;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .roles{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2px 5px;
        gap: 10px;
        .role{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          border-radius: 4px;
          padding: 2px 5px;
          color:white;
        }
        .verify{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          border-radius: 4px;
          padding: 2px 5px;
          background: #2ECC71;
          color:black;
        }
        .status{
          font-family: 'BasierSquareMono';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          border-radius: 4px;
          padding: 2px 5px;
          background: #9B55FD;
          color:white;
        }
       }
    }
  }
  .lootboxes{
    display: flex;
    flex-direction: column;
    gap:40px;
    .title{
      width: fit-content;
      margin: auto;
      font-family: 'BasierSquareMono';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #FBEDD6;      
    }
    .content{
      margin: auto;
      width:263px;
      height: 195px;
      background-image: url('/static/stake/box.png');
      background-size: cover;
      display:flex;      
      justify-content: center;
      align-items: center;
      .number{
        justify-content: center;
        width:64px;
        height:64px;
        border-radius: 50%;
        background-color: #FBEDD6;
        box-shadow: 0px 0px 8px #FBEDD6;
        font-family: 'BasierSquareMono';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #0D1116;

      }
    }
  }
  .mintbox{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin:auto;
    span{
      margin:auto;
      font-family: 'BasierSquareMono';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      letter-spacing: -1px;
    }
    .link{
      background: #FBEDD6;
      border-radius: 8px;
      font-family: 'BasierSquareMono';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      color: #0D1116;
      text-transform: uppercase;
      padding: 16px 70px;
      width: fit-content;     
      margin: auto;

    }

  }
}
.centerTxt{
  width: 100%;
  text-align: center;
}
.rightTxt{
  width: 100%;
  text-align: right;
}
.timeline {
  width: 205px;
  height: 0px;
  background: #8f8f8f;
  border: 1px solid #8f8f8f;
}
.passline {
  width: 205px;
  height: 0px;
  border: 1px solid #fbedd6;
  box-shadow: 0px 0px 8px #fbedd6;
  background-color: #fbedd6;
}
.list{
  width: 115px;
}