.question {
    &:before {
        content: "";
        width: 100%;
        height: 1px;
        background: rgba($papaya-whip, .4);
        position: absolute;
        top: 0px;
        left: 0px;
    }

    padding: 20px;
    margin-bottom: 24px;
    border-radius: 5px;
    color: $papaya-whip;
    @include Heading-3;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__title {

        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 24px;
    }



    @media screen and (min-width: $tablet) {

        &__answer {
            width: 50%;
        }
    }
}