.question {
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba($papaya-whip, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
  }

  padding: 20px;
  padding-top: 50px;
  margin-bottom: 24px;
  border-radius: 8px;
  color: rgba($papaya-whip, 0.85);
  @include Heading-3;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__answer {
    @include Body-Text;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;

    &__answer {
      width: 50%;
    }
  }
}
