// sizes
$mobile: 480px;
$tablet: 992px;
$desktop: 1200px;

$offwhite: #f8f8ff;

$darkgreen: #020c04;
$lightgreen: #345f45;
$beige: #847a52;
$gray: #72747a;
$light-gray: #ebeef7;
$darker-gray: #8b93af;
$almost-black: #181818;


//bg

$darkslategray:#18263e;
$black: #0c1117;
$purple: #271731;
$darkblue: #111d2d;

$light-brown: #CC9544;