// sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$mbp: 850px;

body:before,
body:after {
    content: "xsmall";
    display: none;
    visibility: hidden;
}

@media (min-width: $tablet) {
    body:before {
        content: "tablet";
    }
}

@media (min-width: $desktop) {
    body:before {
        content: "desktop";
    }
}

@media (max-height: $mbp) {
    body:after {
        content: "short";
    }
}



$offwhite: #f8f8ff;

$darkgreen: #020c04;
$lightgreen: #345f45;
$beige: #847a52;
$gray: #72747a;
$blue-gray: rgb(180, 185, 208);
$light-gray: #ebeef7;
$darker-gray: #8b93af;
$almost-black: #181818;


//bg

$darkslategray:#18263e;
$black: #0c1117;
$purple: #271731;
$darkblue: #111d2d;

$light-brown: #CC9544;


//new colors

$black: #0D1116;
$papaya-whip: #FBEDD6;
$light-blue-sky: #93D3FF;
$white: #fff;

//secondary 

$rich-black: #0E141B;
$pale-silver: #BDB7AC;
$wheat: #F4DFBA;
$khaki-web: #D2C4AB;
$khaki-web-dark: #BBAE96;
$violet-web:#FE8FFF;
$english-violet: #554367;
$columbia-blue: #C5E3FB;
$maya-blue: #7DC1FA;
$red: #FF7070;